/* // =====================Navbar Candidate CSS========================== */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar.navbar1  {
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-brand {
    padding: 0;
    margin-right: 2rem;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
    color: #333;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .nav-card-item {
    padding: 0 1rem;
  }
  
  .nav-card-item-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    display: flex; 
  align-items: center; 
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .nav-link.active {
    color: #007bff;
  }
  
  .create-account {
    margin-right: 1rem;
  }
  
  .btn-default {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-default:hover {
    color: #007bff;
  }
  
  @media (max-width: 991.98px) {
    .navbar-expand-xl {
      flex-direction: column;
    }
  
    .navbar-collapse {
      flex-grow: 1;
      padding-left: 30px;
    }
  
    .navbar-nav {
      flex-direction: column;
      width: 100%;
      margin-right: 20px;
    }
  
    .nav-card-item {
      padding: 0.5rem 1rem;
    }
  
    .nav-card-item-right {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  .nav-card-item-right .nav-link {
    display: flex;
    align-items: center;
  }

    .nav-card-item-right .nav-link img {
    border-radius: 50%;
    margin-left: 0.5rem;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* // =====================Footer Candidate CSS========================== */
 /* Footer */
footer {
  background-color: #00CA72;
  padding: 100px 100px 20px;
  border-top: 1px solid #e0e0e0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.footer-wrap .about {
  flex: 1;
  margin-right: 20px;
}

.footer-wrap .about img {
  max-width: 80px;
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 20px; 
}

.footer-wrap .about .description {
  flex: 1;
}

.footer-wrap .about .social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  pedding: 13px;
}

.footer-wrap .about .social-media a {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.footer-wrap .abaout,
.footer-wrap .company,
.footer-wrap .useful-links {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  display: flex; 
  flex-direction: column;
}

.footer-wrap .company h6,
.footer-wrap .useful-links h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-wrap .company p,
.footer-wrap .useful-links p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.footer-wrap .company p a,
.footer-wrap .useful-links p a {
  color: #000;
  text-decoration: none;
}

.footer-wrap .company p a:hover,
.footer-wrap .useful-links p a:hover {
  text-decoration: underline;
}

.footer-copyright {
  margin-top: 50px; 
  text-align: left; 
  font-size: 20px; 
  font-weight: 400;
}


@media (max-width: 767.98px) {
  footer {
    padding: 30px;
  }
  
  .footer-wrap {
    flex-direction: column;
  }

  .footer-wrap .about img {
    max-width: 100px;
  }

  .footer-wrap .about,
  .footer-wrap .company,
  .footer-wrap .useful-links {
    flex: none;
    margin-bottom: 20px;
  }
}

/* // =====================Profile User/Candidate CSS==========================  */
/* .background {
  background: linear-gradient(315deg, #B8F3D1, #FFFFFF, #D4F49C);
  padding-top: 170px;
  padding-bottom: 100px;
} */

.profile {
  background: linear-gradient(315deg, #B8F3D1, #FFFFFF, #D4F49C);
  padding-top: 170px;
  padding-bottom: 100px;
}

.container {
  /* justify-content: space-between; */
  gap: 100px;
  padding: 0 50px; 
  width: calc(100% - 100px); 
  margin: 0 auto; 
}

.cardd {
  width: 1213 px;
  height: 332px;
  padding: 60px 100px; 
  border-radius: 20px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 0px #00000012;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.cards {
  width: 1213px;
  height: 332px;
  padding: 60px 100px; 
  border-radius: 20px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 0px #00000012;
  margin-bottom: 50px;
}

.profile-picture {
  width: auto; 
  height: auto; 
  margin-right: 60px; 
  position: relative; 
  
}

.profile-picture img {
  max-width: 200px; 
  height: auto; 
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0; 
  background: none;
  border: none;
  margin-right: 50px;
  margin-top: 25px;
  cursor: pointer;
}

.edit-profile {
  position: absolute; 
  bottom: 0; 
  right: 0; 
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

ul li {
  margin-bottom: 10px; 
}

.vertical-line {
  width: 2px;
  background-color: #333333;
  margin: 0 50px; 
}

.data-list {
  display: flex;
  flex-direction: column;
  margin-top: 13px; 
}

.data-item {
  width: 300px;
  height: 24px;
  display: flex;
  justify-content: space-between; 
}

.data-item span {
  font-weight: bold; 
}

.card-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card-add h2 {
  margin: 0; 
}

.card-add button {
  background: none;
  border: none;
  cursor: pointer;
}

.card-add button svg {
  width: 24px; 
  height: 24px;
}

.card-add button:first-child {
  margin-right: 10px; 
}

.table thead th {
  background-color: #E5FFF2;
  width: 1130px;
  padding-top:15px;
  padding-bottom:15px;
  border: none;
  border-bottom: 1px solid #333333;
}

.table tbody td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.delete {
  background-color: transparent;
  color: #F62B54;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.delete svg {
  fill: #F62B54;
  margin-right: 5px; 
}

.actin {
  display: flex;
  align-items: center; 
}

.actin button {
  margin-left: 10px; 
}

.table {
  flex: 1; 
}

/* // =====================Homepage CSS========================== */
/* =====================Section 1========================== */
.home-content-1 {
  width: 100%;
  height: 568px;
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  background-color: #02CE6533;
}

.title-size-54 {
  font-size: 54px;
}

.title {
  margin-bottom: 0.5em;
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
}

/* =====================Section 2========================== */
.home-content-2 {
  width: 100%;
  height: 100px;
  background: #F6F6F6;
}
.image-grid {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.image-grid img {
  max-width: calc(100% / 8); 
  height: auto;
}

/* =====================Section 3========================== */
 .container-section-3 {
  height: 561px;
}

.cardt {
  width: 280px;
  height: 240.33px;
  margin-top: 70px;
  border-radius: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* =====================Section 4========================== */
.home-content-4 {
  width: 100%;
  height: 713px;
  background: #F9F8FE;
}

.svg-home-2 {
  margin-top: 200px;
}

.text-green{
  color: #02CE6599;
}

.custom-border {
  border: 2px solid #02CE6599; 
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

  .background-gradient-green {
    background: linear-gradient(to bottom right, #FFFFFF 50%, #54BE96 200%);
  }

  .btn-custom {
    background-color: transparent;
    color: #000;
    border: 1px solid #ffffff;
}

.btn-custom:hover {
    background-color: #02CE65;
    border-color: #02CE65;
}
  
.profile-card {
  border-radius: 32px;
  margin-top: 100px;
  margin-bottom: 100px; 
}

.profile-card-2 {
  border-radius: 32px;
}

.background-gradient-green-2 {
  /* background: linear-gradient(135deg, #FFFFFF , #FFD14F , #00CA72); */
  background: linear-gradient(135deg, #FFFFFF,#D4F49C,#B8F3D1);
}

.abaout-list {
  display: flex;
  justify-content: space-between; 
}